# Some tests handle invalid syntax deliberately; exclude relevant attributes.

[parser/features/mixed_indentation_on_blank_lines.br]
trim_trailing_whitespace = false

[parser/warnings/empty_file_newline.notest.br]
insert_final_newline = false

[parser/warnings/empty_file_newline_comment.notest.br]
insert_final_newline = false
