#include "core/version.h"

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

BRADOT_ICON ICON platform/windows/bradot.ico
1 RT_MANIFEST "bradot.manifest"

1 VERSIONINFO
FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
FILEOS          4
FILETYPE        1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",            "Bradot Engine"
            VALUE "FileDescription",        VERSION_NAME
            VALUE "FileVersion",            VERSION_NUMBER
            VALUE "ProductName",            VERSION_NAME
            VALUE "Licence",                "MIT"
            VALUE "LegalCopyright",         "(c) 2024-present Bradot Engine contributors. (c) 2007-2024 Juan Linietsky, Ariel Manzur and Godot Engine contributors"
            VALUE "Info",                   "https://bradotengine.org"
            VALUE "ProductVersion",         VERSION_FULL_BUILD
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
